{% extends "esqueleto.html" %}

{% block contenido %}

<h3>Mis reviews</h3>
{% if reviews.count() > 0 %}
    {% for review in reviews %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Review de <b>{{ review.titulo }}</b> por {{ review.usuario }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>

                <li  class="list-group-item">
                    {% if review.tipo == "Libro" %}
                        {{ review.tipo }} escrito por {{ review.autor }}
                    {% else %}
                        {%if review.tipo == "Videojuego" %}
                            {{ review.tipo }} desarrollado por {{ review.autor }}
                        {% else %}
                            {{ review.tipo }} dirigida por {{ review.autor }}
                        {% endif %}
                    {% endif %}
                </li>

                <li class="list-group-item">Nota: {{ review.nota }}</li>

                {% if review.comentario %}
                <li class="list-group-item">Comentario: <p class="font-italic">{{ review.comentario }}</p></li>
                {% endif %}
            </ul>
            <div class="card-footer">
                Fecha de publicación: {{ review.hora }}
                <a href="/reviews/elimina?id={{ review.key.urlsafe}}" type="button" class="btn btn-danger float-right">Eliminar review</a>
            </div>
        </div>
    {% endfor%}
{% else %}
    <p>No se ha publicado ninguna review</p>
{% endif %}

{% endblock %}
